*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(230, 236, 234);
    flex-flow: wrap;
    padding: auto;    
}
.d-flex {
    margin: 0px auto 0px auto;
    background-color: rgb(74, 74, 156);
    color: white;
}
button{
    height: 30px;
    margin-top: 32px;
    color: white;
    background-color: rgb(74, 74, 156);
    border-radius: 3px;
}
.formulario{
    display: flex;
}
.me-auto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 15px;
}
img{
    display: flex;
    width: 350px;
}
.texto{
    width: 100%;
    
}
.numero{
    width: 40px;
}
h2{
     color: rgb(25, 25, 114);
     font-size: 30px;
}
.esqueceu{
    color: white;
}
.inscrever {
    color: white;
    background-color: rgba(0, 128, 0, 0.671);
    height: 30px;
    width: 240px;
    padding: 2px 30px;
    font-size: 15px;
    border-radius: 3px;
    border-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}
